<%- include('../includes/head.ejs') %>
</head>
<body class="body">
    <header class="main-header">
        <%- include('../includes/navigation.ejs') %>
    </header>
    <main class="centered">
        <div>
            <h1><%= product.title %></h1>
            <hr>
            <img src="<%= product.url %>" alt="<%= product.title %>">
            <hr>
            <h2>₹ <%= product.cost %>/-</h2>
            <%= product.description %>
            <hr>
            <div>
                <%- include('../includes/addtocart.ejs') %>
            </div>
        </div>
    </main>
<%- include('../includes/end.ejs') %>